{% extends 'base.html' %}
{% load static %}

{% block title %}Following{% endblock %}

{% block content %}
    <h1>Following</h1>
    <div class="friend-list-horizontal-view">
        {% for follow in following %}
            <div class="friend-card">
                {% if follower.profile.photo %}
                    <img class="profile-photo" src="{{ follow.profile.photo.url }}" alt="Profile Photo">
                {% else %}
                    <img class="profile-photo" src="{% static 'images/default-avatar.png' %}" alt="Default Avatar">
                {% endif %}
                <h3><a href="{% url 'profile' follow.username %}">{{ follow.username }}</a></h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
