{% extends 'base.html' %}

{% block content %}
    <div class="profile-section">
        {% if user != request.user %}
            <h2>{{ user.username }}</h2>
            <form method="post" action="{% url 'conversation' recipient_id=user.id %}">
                {% csrf_token %}
                <button class="message-button" type="submit">Send Message</button>
            </form>
        {% else %}
            <h3>
                <a href="{% url "edit" %}">Edit Profile</a> or <a href="{% url "password_change" %}">Change Password</a>
            </h3>
        {% endif %}

        <div class="profile-info">
            <p><strong>Date of Birth:</strong> {{ user.profile.date_of_birth }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Followers:</strong> {{ user.profile.followers.count }}</p>
            <p><strong>Following:</strong> {{ user.profile.following.count }}</p>
        </div>

        {% if user.profile.photo %}
            <img class="profile-photo-detail" src="{{ user.profile.photo.url }}" alt="Profile Photo">
        {% endif %}

        {% if user != request.user %}
            <div class="profile-buttons">
                {% if user in request.user.profile.following.all %}
                    <form method="post" action="{% url 'follow' user.username %}">
                        {% csrf_token %}
                        <button class="unfollow-button" type="submit">Unfollow</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'follow' user.username %}">
                        {% csrf_token %}
                        <button class="follow-button" type="submit">Follow</button>
                    </form>
                {% endif %}
                <form method="post" action="{% url 'send_friend_request' user.id %}">
                    {% csrf_token %}
                    <button class="friend-request-button" type="submit">Send Friend Request</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
